<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
        .styled-table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            font-family: sans-serif;
            min-width: 400px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }
        .styled-table thead tr {
            background-color: #009879;
            color: #ffffff;
            text-align: left;
        }
        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
        }
        .styled-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

        .styled-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .styled-table tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }
        .styled-table tbody tr.active-row {
            font-weight: bold;
            color: #009879;
        }
    </style>
</head>
<body>
    <div style="
        display:flex;
        align-items:center;
        flex-direction:column;
        margin:auto;
        text-align:center
        ">
            <h1 style="display:inline; 
                       text-align:center;
                       font-size:40px"
            >Listes des artciles</h1>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Content</th>
                    <th>Article date</th>
                    <th>Delete</th>
                    <th>Update</th>
                </tr>
            </thead>
            <tbody>
            <% articles.map((article) => {%>
            <tr>
                <td><%= article.id%></td>
                <td><%= article.title%></td>
                <td><%= article.content%></td>
                <td><%= article.articleDate%></td>
                <td>
                    <i class="fa fa-trash" onclick="deleteArticle('<%= article.id %>')" style="cursor:pointer"></i>
                </td>
                <td>
                    <i class="fa fa-pen" onclick="redirectToUpdateäge('<%= article.id %>')" style="cursor:pointer"></i>
                </td>
            </tr>
            <%});%>
            </tbody>
        </table>
        <button style="text-align: center;" onclick="addArticle()">Ajouter Article</button>
    </div>
    <script>
        function deleteArticle(articleId) {
            fetch(`http://localhost:5000/article/${articleId}`, {
            method: 'DELETE',
            })
            .then(res => {
                if (res.ok) {
                location.reload();
                } else {
                throw new Error('Erreur lors de la suppression de l\'article');
                }
            })
            .catch(err => console.error(err));
        }
        function redirectToUpdateäge(articleId) {
            window.location.assign('/article/updateArticle/' + articleId)
        }
        function addArticle(){
            window.location.assign('/article/addArticle')
        }
    </script>
</body>
</html>